<footer class="footer">
    <div class="container footer-container">
        <a class="footer-logo" href="index.html"><p class="footer-logo-text">Drinkify</p><svg class="footer-logo-icon"><use href="./img/sprite.svg#glass"></svg></a>
        <div><p class="social-descr">We in social</p>
        <ul class="social-media-list">
            <li clas="social-media-item">
                <a href="https://www.facebook.com/goITclub/" class="social-list-link" target="_blank" rel="noopener noreferrer" aria-label="Facebook icon"><svg class="social-list-icon"><use href="./img/sprite.svg#facebook"></svg></a>
            </li>
            <li clas="social-media-item">
                <a href="https://www.instagram.com/goitclub/" class="social-list-link" target="_blank" rel="noopener noreferrer" aria-label="Instagram icon"><svg class="social-list-icon"><use href="./img/sprite.svg#instagram"></svg></a>
            </li>
            <li clas="social-media-item">
                <a href="https://www.youtube.com/c/GoIT" class="social-list-link" target="_blank" rel="noopener noreferrer" aria-label="YouTube icon"><svg class="social-list-icon"><use href="./img/sprite.svg#you-tube"></svg></a>
            </li>
        </ul>
    </div>
    </div>

<div class="container">
    <div class="slider-container">
    <div class="cr-by-wrapper">
    <!-- <div class="btn-container-cr-by" id="leftslider"> -->
        <svg class="cr-by-arrow" id="leftslider"><use href="./img/sprite.svg#arrow-left"></svg>
        <!-- </div> -->
    <ul class="carousel-cr-by">
        <li class="cr-by-card">
            <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>    
            <h2 class="dev-name">Name</h2>
                <p class="dev-duities">Dev</p>
        </li>
        <li class="cr-by-card">
            <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false"  alt=""></div>
            <h2 class="dev-name">Name</h2>
            <p class="dev-duities">Dev</p>
    </li>
    <li class="cr-by-card">
        <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
        <h2 class="dev-name">Name</h2>
        <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
<li class="cr-by-card">
    <div class="cr-by-image"><img src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg" width="100px" draggable="false" alt=""></div>
    <h2 class="dev-name">Name</h2>
    <p class="dev-duities">Dev</p>
</li>
    </ul>
    <!-- <div class="btn-container-cr-by" > -->
        <svg class="cr-by-arrow"><use href="./img/sprite.svg#arrow-right" id="rightslider"></svg>
        <!-- </div> -->
</div>
</div>
</div>
    
</footer>