<!-- <div id="modal-ingredients" class="modal-in">
  <button type="button" class="modal-in-close-button close-cocktail-modal-x">
    <svg class="icon-in-close" width="11" height="11">
      <use href="../img/sprite.svg#cross"></use>
    </svg>
  </button>
  <div class="descripe-ingredients" data-id="${id}">
    <div class="header-in">
      <h2 id="ingredients-title" class="ingredients-title">${title}</h2>
      <p class="kind-in">${type}</p>
    </div>
    <div class="ingredients-information">
      <p class="main-description-in">${description}</p>
      <ul class="ingredients-spec">
        <li class="ingredients-description">Type: ${type}</li>
        <li class="ingredients-description">Country of origin: ${country}</li>
        <li class="ingredients-description">Alcohol by volume: ${abv}</li>
        <li class="ingredients-description">Flavour: ${flavour}</li>
      </ul>
    </div>
    <div class="buttons-in">
      <button type="button" id="btn-in" class="btn-in">ADD TO FAVORITE</button>
      <button
        type="button"
        id="btn-back"
        class="btn-in btn-back close-cocktail-modal-back"
      >
        BACK
      </button>
    </div>
  </div>
</div> -->
